html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    overflow-x: auto;   
  }
  
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('images/red_pixel.jpg') repeat;
    background-size: auto;
    z-index: -1;
  }
  
  #hero {
    position: relative;
    height: 1000px;
    z-index: 1;
  }
  
  #name {
    position: absolute;
    top: 310px;
    left: 2%;
    color: white;
    font-family: "Fleur De Leah", cursive;
    font-size: 450px;
    z-index: 10;
    padding: 10px;
    white-space: nowrap;
    opacity: 0.7; 
    text-shadow:
      0 0 10px silver,
      0 0 20px silver,
      0 0 30px silver;
  }
  
  #mainimage {
    position: absolute;
    top: 30px;
    left: 50%;              
    transform: translateX(-50%); 
    height: 800px;
    width: 800px;
    background: url('images/mainimage.png') no-repeat center center;
    background-size: cover;
    z-index: 5;
  }
  
  .work-examples-container {
    width: 100vw; /* full width of page */
    display: flex;
    justify-content: flex-start; /* align contents to the left */
    padding-left: 5vw; /* small offset from left edge */
  }
  
  .work-examples {
    width: 50vw; /* occupy left half of screen */
    display: flex;
    flex-direction: column;
    align-items: center; /* center items inside the left half */
    gap: 40px;
  }
  
  .work-item {
    width: 100%;
    text-align: center;
  }
  
  .work-item img {
    width: 75%;
    height: auto;
    
    /*silver glow */
    /* box-shadow: 
      0 0 10px silver,
      0 0 20px silver,
      0 0 30px silver; */
  }
  
  .work-item h1 {
    color: lightpink;
    margin-top: 1px;
    margin-bottom: 0px;
    font-family: font-family: "Advent Pro", sans-serif;
  }
  .work-item p {
    color: lightpink;
    margin-top: 0px;
    font-family: font-family: "Advent Pro", sans-serif;
    font-size: 16px;
    font-weight: 100;
    width: 75%;           /* Match image width */
    margin: 0 auto;        /* Center horizontally */
    text-align: center;  

  }

 
  #about-me {
    color: white;
    margin-top: 100px;
    text-align: center;
  }
  